/*!
 * Menu css spécifique
*/

.menu-img{
    display: none;
}

.respi-menu {
        background: #171c24;
        position: fixed;
        width: 100%;
    }

    .respi-menu nav {
        display: flex;
        margin: 0 auto;
        height: 70px;
        align-items: center;
        justify-content: space-between;
    }

    nav .content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    nav .content .links {
        display: flex;
    }

    .content .logo a {
        color: #fff;
        font-size: 30px;
        font-weight: 600;
    }

    .content .links li a,
    .content .links li label {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        padding: 9px 17px;
        transition: all 0.3s ease;
    }

    .content .links li label {
        display: none;
    }

    .content .links li a:hover,
    .content .links li label:hover {
        background: #323c4e;
    }

    .respi-menu .menu-icon {
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        line-height: 70px;
        width: 70px;
        text-align: center;
    }

    .respi-menu .menu-icon {
        display: none;
    }

    .respi-menu input[type="checkbox"] {
        display: none;
    }

    /* Sous menu */
    .content .links ul {
        position: absolute;
        background: #171c24;
        top: 80px;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
    }

    .content .links li:hover>ul {
        top: 70px;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
    }

    .content .links ul li a {
        display: block;
        line-height: 30px;
    }

    .content .links ul ul {
        position: absolute;
        top: 0;
    }

    .content .links ul li {
        position: relative;
    }

    .content .links ul li:hover ul {
        top: 0;
        left: -118px;
    }

 /* Responsive */
 @media screen and (max-width: 75em) {
    .respi-menu nav {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media screen and (max-width: 60em) {

    .menu-img {
        width: 7vw;
        height: 7vw;
        border-radius: 50%;
        margin: 4px;
        display: block;
    }

    .respi-menu .menu-icon {
        display: block;
    }

    .respi-menu #show-menu-left:checked~.menu-icon i::before,
    .respi-menu #show-menu-right:checked~.menu-icon i::before {
        content: "\f00d";
    }

    nav .content .links {
        display: block;
        position: fixed;
        background: #14181f;
        height: 75%;
        width: 100%;
        top: 70px;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }

    nav #show-menu-left:checked~.content .links {
        left: 0%;
    }

    nav .menu-left {
        left: -100%;
    }

    nav #show-menu-right:checked~.content .links {
        right: 0%;
    }

    nav .menu-right {
        right: -100%;
    }

    .content .links li {
        margin: 5px 20px;
    }

    .content .links li a,
    .content .links li label {
        font-size: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .content .links li a.desktop-link {
        display: none;
    }

    /* Sous-menu du menu */
    .content .links ul,
    .content .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }

    .content .links #show-features:checked~ul,
    .content .links #show-services:checked~ul,
    .content .links #show-items:checked~ul {
        max-height: 100vh;
    }

    .content .links ul li {
        margin: 7px 20px;
    }

    .content .links ul li a {
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px !important;
    }
}

@media screen and (max-width: 25em) {
    .respi-menu nav {
        padding: 0 10px;
    }

    .content .logo a {
        font-size: 27px;
    }
}


